@model string
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">    
    <div class="navbar-collapse collapse">       
        <ul class="nav mr-auto">
            @{
                string title = Model;
                if (string.IsNullOrEmpty(title))
                {
                    title = "Citas medicas";
                }

                <li class="nav-item">
                    @Html.ActionLink(title, "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                </li>
            }
            <li class="nav-item active">@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })</li>
            <li class="nav-item active">@Html.ActionLink("Solicitar Cita", "VlidateUser", "User", null, new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Nuestros Especialistas", "Index", "Specialist", null, new { @class = "nav-link" })</li>
        </ul>
    </div>   
    </nav>
