@{
    ViewBag.Title = "Inicio";
}

<h1>Bienvenido</h1>

<div class="row">
    <div class="col-md-10">
        <h2>Portal de citas medicas</h2>
        <p>
            Bienvenido a nuestro portal oficial de citas, recuerde que utilizando sus datos personales puede
            separar su cita fácil y rato son los mejores especialistas.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("ValidateUser", "User")">Apartar cita &raquo;</a></p>
    </div>  
</div>